<h4>Add New Title</h4>
<input #title >
<button (click)="addTitle(title.value)">Add Title</button>
<br>
<input #subtitle >
<button (click)="addSubTitle(subtitle.value)">Add SubTitle</button>
<br>
<input #legend >
<button (click)="addLegend(legend.value)">Add Legend</button>
<br>
<input #caption >
<button (click)="addCaption(caption.value)">Add Caption</button>
<br>
<input #thickness >
<button (click)="addThickness(thickness.value)">Add Thickness</button>
<br>
<input #position >
<button (click)="addPosition(position.value)">Add Positon</button>

<br>

<button (click)="removeWidget()">Remove Widget</button>